n8n-workflows/mls-data-processing-workflow.json
{
  "name": "MLS Data Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhooks/mls/property-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "MLS Webhook Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "return $input.all();"
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/properties/batch",
        "responseMode": "responseNode",
        "bodyParameters": {
          "parameters": [
            {
              "name": "properties",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Save Properties",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300]
    }
  ],
  "connections": {
    "MLS Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Save Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}